@use '../../color';

.link {
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.hover-anim-horz {
    position: relative;
    transition: all 140ms ease;
    &::before {
        content: '';
        position: absolute;
        background: color.$primary;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transition: all 200ms ease-in;
        transform: scaleX(0);
        transform-origin: left;
    }

    &:hover {
        color: color.$light;

        &::before {
            transform: scaleX(1);
            opacity: 1;
        }
    }

    &-from-right {
        @extend .hover-anim-horz;
        &::before {
            transform-origin: right;
        }
    }
}

.link-hover-underline {
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &:hover {
        text-decoration: underline;
    }
}

.link-not-implemeted {
    pointer-events: none;
}
