$primary: hsl(0, 0%, 0%);

$primary-light: hsl(0, 0%, 45%);

$primary-dark: hsl(0, 0%, 0%);

$secondary: hsl(204, 47%, 57%);

$secondary-light: hsl(204, 54%, 68%);

$secondary-dark: hsl(204, 43%, 45%);

$black: black;

$white: white;

$color-map: (
    'primary': $primary,
    'primary-light': $primary-light,
    'primary-dark': $primary-dark,
    'secondary': $secondary,
    'secondary-light': $secondary-light,
    'secondary-dark': $secondary-dark,
    'black': $black,
    'white': $white,
);
