:root {
    --menu-color: gray;
}

body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    padding: 1rem;
    word-break: break-all;
}

nav {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--menu-color);
}

.btn {
    display: inline-block;
    color: var(--menu-color);
    text-decoration: none;
    border: 1px solid var(--menu-color);
    padding: 0.4rem 0.5rem;
    cursor: pointer;
}

.btn:hover {
    color: white;
}

.btn.active {
    background-color: white;
    color: black;
}

.btn.active:hover {
    color: black;
}

#btn-enter {
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: larger;
    font-weight: 800;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    #btn-enter {
        display: none;
    }
}

.ps-param {
    color: rgb(148, 148, 148);
}

.ps-node {
    color: yellow;
}

.gb-user {
    color: rgb(1, 187, 1);
}

.gb-version {
    color: rgb(179, 0, 179);
}

.gb-path {
    color: yellow;
}

.gb-module {
    color: turquoise;
}

.array-item {
    color: rgb(1, 180, 1);
}

.number {
    color: yellow;
}

.blink {
    animation: blink-animation 1000ms steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
