:root {
    --menu-color: gray;
}

body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
    padding: 1rem;
}

nav {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--menu-color);
}

.btn {
    display: inline-block;
    color: var(--menu-color);
    text-decoration: none;
    border: 1px solid var(--menu-color);
    padding: 0.4rem 0.5rem;
    cursor: pointer;
}

.btn:hover {
    color: white;
}

.btn.active {
    background-color: white;
    color: black;
}

.btn.active:hover {
    color: black;
}

.ps-param {
    color: rgb(148, 148, 148);
}

.ps-node {
    color: yellow;
}

.gb-user {
    color: rgb(1, 187, 1);
}

.gb-version {
    color: rgb(179, 0, 179);
}

.gb-path {
    color: yellow;
}

.gb-module {
    color: turquoise;
}

.blink {
    animation: blink-animation 1000ms steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
