@use '../../variables/colors';
@use '../../utils/breakpoints';

.page-switch {
    input {
        all: unset;
        outline: none;
        background: white;
        border: 1px solid colors.$primary-color;
        width: 3rem;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        padding: 0.5rem 0.1rem 0.5rem 1rem;
        text-align: center;
    }
    &__params {
        &-row {
            display: grid;
            grid: 100% / 5rem auto;
            position: relative;
            padding: 0.3rem 0.6rem;

            @include breakpoints.from-sm {
                max-width: 300px;
            }

            border-bottom: 1px dotted colors.$primary-color;
            &:nth-child(1) {
                border-top: 1px dotted colors.$primary-color;
            }

            &::before {
                content: '';
                position: absolute;
                background: colors.$highlight-color;
                width: 0;
                height: 100%;
                opacity: 0;
                z-index: -1;
                transition: all 200ms ease-in;
            }

            &.selected {
                color: white;

                &::before {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
        margin-bottom: 2rem;
    }

    .page__step-instruction {
        display: inline-block;
        margin-left: 0.7rem;
        transform: translateY(11px);
    }
}
