@use '../../common-gui/buttons';
@use '../../utils/breakpoints';
@use '../../variables/colors';
@use './variables/vars';

.page {
    display: block;
    padding-top: 2rem;
    font-weight: 700;

    &__step {
        padding-top: 1rem;
        margin-bottom: 3rem;

        &-text {
            position: relative;
            display: flex;
            align-items: baseline;
            gap: vars.$page-item-number-gap;

            @include breakpoints.from-lg {
                max-width: 70%;
            }

            &--number {
                position: relative;
                * {
                    position: relative;
                    color: white;
                    width: vars.$page-item-number-d;
                    height: vars.$page-item-number-d;
                    line-height: 2rem;
                    text-align: center;
                }
                &::before {
                    content: '';
                    position: absolute;
                    background-color: colors.$primary-color;
                    clip-path: circle(50% at 50% 50%);
                    width: vars.$page-item-number-d;
                    height: vars.$page-item-number-d;
                }
            }
        }

        &-inset {
            padding-left: vars.$page-item-number-d + vars.$page-item-number-gap;
        }

        &-btn {
            @extend .generic-button;
            margin-top: 1.5rem;
        }

        &-instruction {
            font-size: small;
            font-weight: 700;
        }
    }

    &-btn-reset {
        @extend .generic-button;
        margin-top: 0;
        margin-left: vars.$page-item-number-d + vars.$page-item-number-gap;
    }
}
