@use '../../color';

.btn {
    cursor: pointer;
    &.is-hidden {
        display: none;
    }

    &.disabled,
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn-primary {
    @extend .btn;
    padding: 1rem 1.5rem;
    font-weight: 700;
    color: color.$light;
    background-color: color.$dark;
    text-transform: uppercase;
    text-align: center;
    transition: all 200ms ease;
    &:hover,
    &:active {
        background-color: color.$primary-light;
    }
}
