<div class="inner">
    <div class="msg msg-win">
        <h2>You won!</h2>
        <p>You beat the NORAD supercomputer WOPR (War Operation Plan Response).</p>
    </div>
    <div class="msg msg-lose">
        <h2>Sorry, you lost!</h2>
        <p>The NORAD supercomputer WOPR (War Operation Plan Response) beat you.</p>
    </div>
    <div class="msg msg-error">
        <h2>Something went wrong while loading data :-(</h2>
        <p>Maybe WOPR is in a bad mood, come back later.</p>
    </div>
</div>
<button id="btn-new-game" class="generic-button">PLAY AGAIN</button>