@use '../variables/colors';
@use '../variables/layout';
@use '../utils/breakpoints';
@use '../utils/reset';

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    overflow-y: scroll;
}

body {
    background: colors.$secondary;
    color: colors.$dark;
    position: relative;
    min-height: 100vh;
}

button {
    @include reset.button;
}

input {
    @include reset.input;
}

.body-side-padding {
    padding-left: layout.$default-spacing;
    padding-right: layout.$default-spacing;
}

.page-grid {
    @include breakpoints.from-lg() {
        display: grid;
        grid: auto / 20% auto 10%;
    }
}

.view-padding {
    padding-top: layout.$default-spacing;
    padding-bottom: layout.$view-padding-bottom;
}
