.editor {
    padding: 2rem;
    border: 1px solid black;

    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .label {
            display: block;
            margin-bottom: 0.3rem;
        }

        .input-text {
            border: 1px solid black;
            padding: 0.5rem 1rem;
        }
    }
}
