@use '@/scss/common/layout';
@use '@/scss/common/color';
@use '@/scss/common/gui/forms';

.editor {
    width: 100%;
    padding: layout.$spacing-default;
    padding-bottom: 2.5rem;
    border-radius: layout.$border-radius-default;
    background-color: color.$primary;
    font-size: 1.6rem;

    .form {
        display: flex;
        flex-direction: column;
        gap: layout.$spacing-default;
        padding-top: 3rem;
        .label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: 700;
        }

        .form-input {
            width: 100%;
            background-color: color.$primary-light;
            color: color.$light;
        }

        .form-select {
            width: 100%;
            @include forms.form-select-arrow(color.$light);
            color: color.$light;
            background-color: color.$primary-light;
            * {
                color: color.$light;
                background-color: color.$primary-light;
            }
        }

        .buttons {
            display: flex;
            gap: 1.5rem;
            margin-top: 1rem;
            justify-content: flex-end;
        }
    }
}
