.editor {
    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input,
        textarea {
            border: 1px solid white;
            padding: 0.5rem;
        }
    }

    &-menu {
        .active {
            color: red;
        }
    }
}
