@use '@/scss/common/layout';

.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: layout.$spacing-default;
    height: 35px;

    .header {
        font-size: 1.5rem;
        font-weight: 700;
    }
}
