@use '@/scss/common/layout';
@use '@/scss/common/breakpoints';

.record-list {
    position: relative;
    &-items {
        display: flex;
        flex-direction: column;
        gap: layout.$spacing-default;

        @include breakpoints.from-md {
            display: grid;
            grid: auto / repeat(2, minmax(0, 1fr));
        }

        @include breakpoints.from-xl {
            grid: auto / repeat(3, minmax(0, 1fr));
        }
    }
}
