<button id="btn-help" class="circle-button">?</button>
<div class="game__stage">
    <div id="slot-pile-computer" class="game__stage-slot is-hidden">
        <img src="/assets/png/card-back-2.png">
    </div>
    <div id="slot-card-computer" class="game__stage-slot">
        <!-- <element-card> -->
    </div>
    <div id="slot-pile-user" class="game__stage-slot game__stage-slot-button is-hidden">
        <img src="/assets/png/card-back-2.png">
    </div>
    <div id="slot-card-user" class="game__stage-slot">
        <!-- <element-card> -->
    </div>
    <svg class="loader__spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
</div>