body {
    background-color: black;
    color: white;
    font-family: "Courier New", Courier, monospace;
}

.node {
    color: yellow;
}

.blink {
    animation: blink-animation 1000ms steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
