@use '../variables/colors';
@use '../variables/layout';
@use '../utils/reset';

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

body {
    background: colors.$primary;
}

button {
    @include reset.button;
}

input {
    @include reset.input;
}

.body-side-padding {
    padding-left: layout.$body-side-padding;
    padding-right: layout.$body-side-padding;
}
