* {
    box-sizing: border-box;
}

form {
    width: 260px;
    background-color: #eee;
}

form label {
    display: inline-block;
    width: 80px;
    background-color: #eee;
    margin: 10px 3px 3px 8px;
}

form input,
form select {
    width: 150px;
    height: 20px;
    margin: 0px 5px;
}

form select {
    margin: 5px;
}

form input[type="submit"] {
    width: 80px;
    height: 30px;
    margin: 10px 0px 12px 100px;
}
