@use '../breakpoints';
@use 'layout-vars' as vars;

.container-responsive {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include breakpoints.from-md {
        max-width: breakpoints.$bp-md;
    }

    @include breakpoints.from-lg {
        max-width: breakpoints.$bp-lg;
    }

    @include breakpoints.from-xl {
        max-width: breakpoints.$bp-xl;
    }
}

.body-side-padding {
    padding-left: vars.$default-spacing;
    padding-right: vars.$default-spacing;
}
