@mixin input {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    background-image: none;
    outline: none;
    background-color: transparent;
    border: none;
    color: inherit;
}
