html {
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
    margin-top: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

option,
optgroup {
    color: initial;
}

@mixin input {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    background-image: none;
    outline: none;
    background-color: transparent;
    border: none;
}

@mixin button {
    appearance: none;
    all: unset;
    outline: none;
    border: none;
}
