@use 'forms-utils' as utils;

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    input,
    textarea {
        @extend .input-text;
    }

    textarea {
        resize: vertical;
    }

    select {
        @extend .input-select;
    }
}

.input-text {
    border: 1px solid black;
    padding: 0.5rem;
}

.input-select {
    @include utils.input-select-arrow();
    @extend .input-text;
}
