@use '../variables/colors';
.generic-button {
    border: none;
    margin-top: 0.4rem;
    padding: 0.7rem 1.5rem;
    background-color: colors.$primary;
    color: colors.$light;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: background-color 150ms ease;

    border-radius: 12px;

    &:hover {
        background-color: colors.$primary-light;
    }

    &:active {
        background-color: colors.$primary-dark;
    }

    &.is-hidden {
        display: none;
    }

    &:disabled {
        color: rgba(colors.$light, $alpha: 0.5);
        pointer-events: none;
    }
}

.icon-button {
    cursor: pointer;
    transition: color 150ms ease;

    &:disabled {
        opacity: 0.5 !important;
        pointer-events: none !important;
    }

    &--light {
        @extend .icon-button;
        color: colors.$light;
        &:hover {
            color: colors.$secondary;
        }
        &:active {
            color: colors.$secondary !important;
        }
    }

    &--secondary {
        @extend .icon-button;
        color: colors.$secondary;
        &:hover {
            color: colors.$secondary-light;
        }
        &:active {
            color: colors.$secondary-dark !important;
        }
    }

    &--grey {
        @extend .icon-button;
        color: rgb(199, 199, 199);
        &:hover {
            color: colors.$secondary;
        }
        &:active {
            color: colors.$secondary-dark !important;
        }
        &.selected {
            color: colors.$secondary !important;
        }
    }
}
