@use '../variables/colors';
@use '../utils/breakpoints';

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    height: 100%;
    background-color: colors.$body-bg-color;
}

main {
    background: url(../../assets/jpg/wopr-crop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    max-width: 500px;
    padding: 1.5rem;
    @include breakpoints.from-sm {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}
