@use '../variables/colors';
@use '../utils/breakpoints';

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: colors.$body-bg-color;
    padding: 1.5rem;
}

.container-responsive {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include breakpoints.from-md {
        max-width: breakpoints.$bp-md;
    }

    @include breakpoints.from-lg {
        max-width: breakpoints.$bp-lg;
    }

    @include breakpoints.from-xl {
        max-width: breakpoints.$bp-xl;
    }
}
