/*
<div class="loader__spinner (show)">
    <svg class="loader__spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
</div>
*/

@use '../../color';

.loader__spinner {
    animation: loader__spinner-rotate 2s linear infinite;
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    transition: opacity 0.3s ease;
    display: none;
    opacity: 0;

    & .path {
        stroke: color.$secondary;
        stroke-linecap: round;
        animation: spinner-dash 1.5s ease-in-out infinite;
    }

    &.show {
        display: block;
        opacity: 1;
    }

    @keyframes loader__spinner-rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes loader__spinner-dash {
        0% {
            stroke-dasharray: 1, 150;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -124;
        }
    }
}
