@use "../variables/layout";
@use "../variables/colors";
@use "../utils/breakpoints";

*:focus {
    outline: none !important;
}

input,
select {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    background-image: none;
    outline: none;
    background-color: transparent;
}

html {
    height: 100%;
    font-family: "Inter Tight", sans-serif;
}

body {
    height: 100%;
    background: colors.$body-bg-color;
    color: colors.$primary-color;
}

main {
    padding: layout.$body-padding calc(layout.$body-padding * 2) calc(layout.$body-padding * 2)
        layout.$body-padding;
    @include breakpoints.from-md {
        height: 100%;
    }
}

#app-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content;
    justify-items: center;

    @include breakpoints.from-md {
        height: 100%;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

a {
    font-weight: 700;
    &:hover {
        text-decoration: underline;
    }
}
