@use '../breakpoints';
@use 'layout-vars' as vars;

.border-dev-red {
    border: 1px solid red;
}

.border-dev-black {
    border: 1px solid black;
}

.border-dev-white {
    border: 1px solid white;
}

.w-100 {
    width: 100%;
}

.container-responsive {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include breakpoints.from-md {
        max-width: breakpoints.$bp-md;
    }

    @include breakpoints.from-lg {
        max-width: breakpoints.$bp-lg;
    }

    @include breakpoints.from-xl {
        max-width: breakpoints.$bp-xl;
    }
}
