@use '../../variables/colors';

.tooltip {
    display: block;
    position: absolute;
    margin-left: -40px;
    min-width: 150px;
    font-weight: 700;
    text-align: center;
    padding: 1em;
    color: white;
    filter: drop-shadow(6px 6px 0px rgba(colors.$primary-color, 0.5));

    &::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        left: 40px;
        top: 100%;
        clip-path: polygon(0 100%, 0 0, 100% 0);
    }

    &.left {
        &::before {
            left: unset;
            right: 40px;
            clip-path: polygon(0 0, 100% 0, 100% 100%);
        }
    }

    &.info {
        background-color: white;
        color: colors.$primary-color;

        &::before {
            background-color: white;
        }
    }

    &.success {
        background-color: colors.$success-color;

        &::before {
            background-color: colors.$success-color;
        }
    }

    &.error {
        background-color: colors.$error-color;

        &::before {
            background-color: colors.$error-color;
        }
    }

    &.show {
        animation: 150ms ease-out anim-tooltip;
    }
}

@keyframes anim-tooltip {
    from {
        opacity: 0;
    }
}
