@use "../variables/colors";
.generic-button {
    margin-top: 0.4rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid colors.$primary-color;
    background-color: colors.$primary-color;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: all 150ms ease;

    &:hover {
        background-color: colors.$highlight-color;
        border: 1px solid colors.$highlight-color;
    }

    &:focus {
        border: 1px solid colors.$highlight-color;
    }
}
