@use '../../color';

.btn {
    padding: 0.7rem 1.1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 150ms ease;

    &-primary {
        @extend .btn;

        background-color: color.$primary;
        color: white;

        &:hover {
            background-color: color.$secondary;
        }

        &:active {
            background-color: color.$secondary-dark;
        }
    }

    &.is-hidden {
        display: none;
    }

    &.disabled,
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn-outline {
    font-weight: 700;
    padding: 0.5rem 1rem;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;

    &:hover {
        color: color.$secondary;
        outline-color: color.$secondary;
    }

    &:active {
        color: color.$secondary;
        outline-color: color.$secondary;
    }

    &.disabled,
    &:disabled {
        pointer-events: none;
        color: lightgrey;
        outline-color: lightgrey;
    }

    &.is-selected {
        color: color.$secondary;
        outline-color: color.$secondary;
    }

    &-white {
        @extend .btn-outline;
        outline: 2px solid white;
        color: white;
    }

    &-black {
        @extend .btn-outline;
        outline: 2px solid black;
        color: black;
    }
}
