@use '../../color';
@use '../../layout';
@use '../links';

.btn {
    cursor: pointer;
    &.is-hidden {
        display: none;
    }

    &.disabled,
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn-icon {
    @extend .btn;
    &-primary {
        @extend .btn-icon;
        color: color.$primary;
        &:hover {
            color: color.$primary-light;
        }
        &:active {
            color: color.$primary-dark;
        }
    }

    &-light {
        @extend .btn-icon;
        color: color.$light;
        &:hover {
            opacity: 0.7;
        }
        &:active {
            opacity: 0.9;
        }
    }
}

.btn-outline {
    @extend .btn;
    border: 2px solid color.$light;
    border-radius: layout.$border-radius-default;
    padding: 1rem 1.5rem;
    font-weight: 700;
    color: color.$light;
    text-transform: uppercase;
    text-align: center;
    &:hover {
        background-color: color.$primary-light;
    }
    &:active {
        background-color: color.$primary-light;
        opacity: 0.8;
    }
}
