@use '@/scss/common/layout';
@use '@/scss/common/color';
@use '@/scss/common/gui/loaders';
@use '@/scss/common/gui/links';

.header {
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: layout.$divider-default;

        .title {
            font-size: 2.5rem;
            margin-right: 2rem;
            @include links.hover-anim-horz-padding(1rem);
        }

        .btn-admin {
            margin-bottom: 0.5rem;
            @include links.hover-anim-horz-padding(1rem);
        }
    }

    .bottom-bar {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        padding-top: 1rem;
        padding-bottom: layout.$spacing-default;

        .btn-home {
            display: flex;
            align-items: center;
            gap: 0.3rem;

            @include links.hover-anim-horz-padding(0.7rem);

            .icon {
                font-size: 2rem;
            }
        }

        .btn-logout {
            margin-left: auto;
            font-weight: 700;
            font-size: 1.8rem;

            @include links.hover-anim-horz-padding(0.7rem);
        }

        .loading {
            @include loaders.loader-dots(color.$dark);
        }
    }
}
