{{> page-top title="About Us" page-id="about"}}
<main class="container">
    <div class="row g-3">
        <div class="col-lg-4 order-lg-2">
            <div
                class="card c-about-img c-bg-img-fill"
                style="background-image: url(../assets/images/KATHMANDU.jpg)"
            ></div>
        </div>
        <div class="col-lg-8">
            <div class="card c-bg-logo">
                <div class="card-body py-4">
                    <h1 class="card-title">About Us</h1>
                    <p class="card-text">
                        <em>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam,
                            quia fugit blanditiis iste labore praesentium explicabo minus a commodi
                            quos! Accusamus repellendus ea aliquam, autem repudiandae, qui tempora
                            recusandae aliquid laudantium odit sint? Neque, ut velit!
                        </em>
                    </p>
                    <hr />
                    <p class="card-text">
                        Laudantium neque voluptas mollitia ab pariatur culpa iure ipsum, eligendi,
                        corporis, quasi modi reiciendis. Aperiam, illum rem? Aperiam ipsam
                        consequatur aspernatur odio.
                    </p>
                    <p class="card-text">
                        Eaque cumque, recusandae ullam soluta est a quae vero consectetur ipsum ad
                        ipsam natus quasi exercitationem maxime dolorum. Eveniet dignissimos aliquid
                        quaerat iusto libero fugit adipisci cumque, ab vitae, perferendis vel,
                        dolore ducimus doloribus atque harum quam ex exercitationem repudiandae
                        deserunt fuga.
                    </p>
                    <h3>Sub Header</h3>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sequi fugiat
                        natus quis culpa ipsam nam impedit molestiae excepturi ab! Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Asperiores odit cum excepturi
                        blanditiis debitis quos error obcaecati assumenda voluptas tempore!
                    </p>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ex! Similique
                        rerum vero esse laudantium iure dolore, maxime minus modi dicta quidem quo
                        unde recusandae, fugit veritatis quaerat voluptatem.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="staff" class="row mt-0 g-3">{{> staff}}</div>
</main>
{{> page-bottom}}