{{> page-top title="Contact" page-id="contact"}}
<main class="container">
    <div class="row g-3">
        <section class="col-12">
            <div class="ratio ratio-map">
                <iframe class="rounded"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3532.1551442417626!2d85.3090343153982!3d27.71249573187187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1663514778028!5m2!1ssv!2sse"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section class="col-lg-5">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Send a Message</h4>
                    <hr class="mt-0 mb-3">
                    <form>
                        <label for="fullname" class="fw-bold ps-1">Name</label>
                        <input type="text" name="fullname" id="fullname" class="form-control" required>
                        <label for="email" class="fw-bold mt-1 ps-1">Email</label>
                        <input type="text" name="email" id="email" class="form-control" required>
                        <label for="msg" class="fw-bold mt-1 ps-1">Message</label>
                        <textarea class="form-control" id="msg" rows="2" required></textarea>
                        <div class="d-grid d-lg-block mt-3">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="col-lg-7">
            <address class="card h-100 c-bg-logo">
                <div class="card-body">
                    <h4 class="card-title">Address</h4>
                    <hr class="mt-0 mb-3">
                    <h5>Company Name</h5>
                    <i class="bi bi-geo-alt-fill"></i>
                    <ul class="c-contact-address p-0 mt-0 mb-3 d-inline-block align-text-top">
                        <li>Thamel Kwabahl</li>
                        <li>KATHMANDU 44600</li>
                        <li class="fw-bold">NEPAL</li>
                    </ul>
                    <p class="fw-bold"><i class="bi bi-telephone-fill me-2"></i>+977 1-4253562</p>
                    <p class="fw-bold"><i class="bi bi-envelope me-2"></i><a
                            href="mailto:info@company.com">info@company.com</a>
                    </p>
                </div>
            </address>
        </section>
    </div>
</main>
{{> page-bottom}}