{{> page-top title="Contact" page-id="contact"}}
<main class="container px-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Temp Contact</h5>
            <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, non?
            </p>
        </div>
    </div>
</main>
{{> page-bottom}}