{{> page-top title="Home" page-id="index"}}
<main class="container">
    <section class="row g-3">
        <div class="col-12">
            <div class="card c-bg-img-fill" style="background-image: url(../assets/images/hero.jpg)">
                <div class="card-body c-card-hero-body pt-4">
                    <h1 class="card-title mb-0">Main Title</h1>
                    <p><em>Lorem, ipsum dolor.</em></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary mb-2">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <img src="../assets/images/Helicopter-tours-in-nepal.jpg" class="card-img-top" alt="Helicopter" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, non?
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary mb-2">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card h-100">
                <div class="row h-100 g-0">
                    <div class="d-none d-lg-block col-lg-4 rounded-start c-bg-img-fill"
                        style="background-image: url(../assets/images/Optimized-91855_2x3.jpg)"></div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">News Item</h5>
                            <p class="card-text">
                                <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
                                    dignissimos excepturi quos, aut iste ullam suscipit? Facere corporis
                                    assumenda inve...
                                </a>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                            <hr />
                            <h5 class="card-title">News Item</h5>
                            <p class="card-text">
                                <a href="#">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
                                    dignissimos excepturi quos, aut iste ullam suscipit? Facere corporis
                                    assumen...
                                </a>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> page-bottom}}