html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #a8dadc;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
}

h1 {
    color: #e63946;
}

.card {
    &-1 {
        margin-bottom: 1.5rem;
    }

    &-3 {
        min-height: 100%;
    }

    &-header {
        background-color: #e63946;
        color: white;
        border: none;
    }

    &-body {
        font-family: "Courier New", Courier, monospace;
        color: #1d3557;
    }
}
