@use '../reset';
@use '../fonts';
@use '../layout';
@use '../color';

button {
    all: unset;
}

input,
select {
    @include reset.input;
}

html {
    font-family: fonts.$font-family-default;
    font-size: fonts.$font-size-html-default;
}

body {
    position: relative;
    background: color.$dark;
    font-size: fonts.$font-size-body-default;
    line-height: fonts.$line-height-default;
    color: color.$light;

    #root {
        position: relative;
        width: 100%;
        display: flex;
        place-content: center;
        padding: 3rem layout.$spacing-default;

        main {
            position: relative;
            width: 100%;
            max-width: layout.$app-max-width;
        }
    }
}
