@use '../reset';
@use '../fonts';
@use '../layout';

button {
    all: unset;
}

input,
textarea,
select {
    @include reset.input;
}

html {
    font-family: fonts.$font-family-default;
    font-size: fonts.$font-size-html-default;
    color: black;
}

body {
    position: relative;
    min-height: 100vh;
    background: rgb(230, 230, 230);
    display: flex;
    place-content: center;
    padding-inline: layout.$spacing-default;
    padding-block: layout.$spacing-default + 2rem;
    font-size: fonts.$font-size-body-default;
    overflow-y: scroll;
}

#root {
    width: 100%;
}
