@use '../variables/colors';
@use 'sass:color';
.generic-button {
    border: none;
    margin-top: 0.4rem;
    padding: 0.7rem 1.5rem;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: background-color 150ms ease;

    border-radius: 12px;

    &:hover {
        background-color: colors.$highlight-color;
        color: white;
    }

    &:active {
        background-color: color.scale(colors.$highlight-color, $lightness: -20%);
    }

    &.is-hidden {
        display: none;
    }

    &:disabled {
        color: rgba(black, $alpha: 0.5);
        pointer-events: none;
    }
}

.circle-button {
    border: none;
    width: 51px;
    height: 51px;
    background: black;
    border-radius: 50%;
    color: white;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 100%;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: colors.$highlight-color;
    }
}
