@use '../../color';

.link {
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &-primary {
        color: color.$primary;
        @extend .color-hover-to-primary-light;
    }

    &-primary-light {
        color: color.$primary-light;
        @extend .color-hover-to-secondary;
    }

    &-secondary {
        color: color.$secondary;
        @extend .color-hover-to-secondary-light;
    }

    &-secondary-light {
        color: color.$secondary-light;
        @extend .color-hover-to-primary-light;
    }

    &-black,
    &-dark {
        color: color.$black;
        @extend .color-hover-to-primary-light;
    }

    &-white,
    &-light {
        color: color.$white;
        @extend .color-hover-to-primary-light;
    }
}

.link-hover-underline {
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &:hover {
        text-decoration: underline;
    }
}

.color-hover-to {
    &-primary {
        &:hover,
        &.is-selected {
            color: color.$primary;
        }
        &:active {
            color: color.$primary-dark;
        }
    }

    &-primary-light {
        &:hover,
        &.is-selected {
            color: color.$primary-light;
        }
        &:active {
            color: color.$primary;
        }
    }

    &-secondary {
        &:hover,
        &.is-selected {
            color: color.$secondary;
        }
        &:active {
            color: color.$secondary-dark;
        }
    }

    &-secondary-light {
        &:hover,
        &.is-selected {
            color: color.$secondary-light;
        }
        &:active {
            color: color.$secondary;
        }
    }
}

.link-not-implemeted {
    pointer-events: none;
}
