/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

input {
    appearance: none;
    font-family: inherit;
    font-size: inherit;
}

/* Variables */
:root {
    --bg-color-1: #00c9ff;
    --bg-color-2: #92fe9d;
    --base-color: #00a6d4;
    --valid-color: #0eee24;
    --dropshadow: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.15));
}

/* Document */
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(200deg, var(--bg-color-1) 0%, var(--bg-color-2) 100%);
}

@media screen and (min-width: 769px) {
    body {
        background-image: linear-gradient(110deg, var(--bg-color-1) 0%, var(--bg-color-2) 100%);
    }
}

/* Main content */
main {
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

/* Login box */
.login {
    display: grid;
    grid: auto / 100%;
    gap: 2.5rem 0;
    max-width: 50rem;
    width: 100%;
    padding: 2.5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 769px) {
    .login {
        grid: auto / 1fr 1fr;
        gap: 3rem 0;
        max-width: 90rem;
        width: 100%;
        padding: 4rem;
    }
}

/* Login header */
.login__header {
    text-align: center;
    filter: var(--dropshadow);
}

.login__header-icon {
    width: 15rem;
    transition: width 300ms ease-out;
}

@media screen and (min-width: 769px) {
    .login__header {
        text-align: left;
    }
    .login__header-icon {
        width: 10rem;
    }
}

/* Login form */
.login__form {
    display: block;
    filter: var(--dropshadow);
}

.login__form-label {
    display: none;
    color: var(--base-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.login__form-input {
    width: 100%;
    border-radius: 10px;
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
}

.login__form-input--text {
    margin-bottom: 1.6rem;
    border: 2px solid white;
    background-color: white;
}

.login__form-input--text::placeholder {
    color: var(--base-color);
}

.login__form-input--text:focus {
    border: 2px solid var(--base-color);
}

.login__form-input--text:valid {
    border: 2px solid var(--valid-color);
}

.login__form-input--submit {
    border: none;
    background-color: var(--base-color);
    color: white;
    font-weight: 900;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
    transition: filter 150ms ease;
}

.login__form-input--submit:hover {
    filter: grayscale(40%);
}

.login__form-input--submit:focus {
    filter: grayscale(70%);
}

@media screen and (min-width: 769px) {
    .login__form {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid: auto / 1fr 1fr;
        gap: 0 1.5rem;
    }
    .login__form-label {
        display: block;
    }
    .login__form-input--text::placeholder {
        color: white;
    }
    .login__form-wrapper-submit {
        grid-column: 2;
        text-align: right;
    }
    .login__form-input--submit {
        width: 50%;
    }
}

/* Login footer */
.login__footer {
    text-align: right;
    filter: var(--dropshadow);
}

.login__footer p {
    margin-top: 0.5em;
    font-size: 1.6rem;
    font-weight: 600;
}

.login__footer a,
.login__footer a:visited {
    text-decoration: none;
    color: var(--base-color);
}

.login__footer a:hover,
.login__footer a:focus {
    text-decoration: underline;
}
