$page-item-number-d: 2rem;

$chart-gap: 0.7rem;
$chart-stack-depth: 15px;
$chart-stack-height: 240px;
$chart-stack-index-d: 20px;
$chart-anim-steps: 12;
$chart-anim-duration: 250;
$chart-anim-delay: 300;
