@use '@/scss/common/layout';
@use '@/scss/common/color';
@use '@/scss/common/animation';
@use '@/scss/common/gui/forms';
@use '@/scss/common/gui/loaders';

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 150px;
    padding: layout.$spacing-default;
    border-radius: layout.$border-radius-default;

    .loader {
        position: absolute;
        top: -10px;
        left: calc(50% - 20px);
        font-size: 6rem;
        @include loaders.loader-dots(color.$light, $duration: 0.65s);

        @include animation.fade-in-transition();

        @include animation.fade-out-transition(600ms);
    }

    .title {
        font-size: 3rem;
        color: color.$light;
        margin: 0 0 0.5rem 0;
        text-transform: uppercase;
        letter-spacing: 0.8rem;
        user-select: none;

        @include animation.fade-in-transition(900ms);
    }

    .navigation {
        display: flex;
        width: 100%;

        @include animation.fade-in-transition();

        .list-select {
            display: flex;
            align-items: center;
            width: 100%;

            .form-select {
                @include forms.form-select-arrow(color.$primary);

                width: 100%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                color: color.$light;
                background-color: color.$secondary;
                * {
                    color: color.$light;
                    background-color: color.$secondary;
                }

                &.disabled {
                    opacity: 0.5;
                }
            }
            .btn-delete-container {
                display: flex;
                align-items: center;
                border-top-right-radius: layout.$border-radius-default;
                border-bottom-right-radius: layout.$border-radius-default;
                padding-right: 1rem;
                background-color: color.$secondary;
                height: 100%;

                &.disabled {
                    background-color: rgba(color.$secondary, 0.5);
                }
            }
        }

        .btn-add {
            display: flex;
            place-items: center;
            place-content: center;
            background-color: color.$secondary;
            border-radius: layout.$border-radius-default;
            margin-left: 1rem;
            width: 70px;
            color: color.$light;
            font-size: 3.2rem;
            cursor: pointer;
            &:hover {
                background-color: color.$primary;
            }
        }
    }
}
